{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
  <main class="recipe-detail">
    <div>
      <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
      <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
    </div>
    <div>
      <h2>Recipes for {{ mealplan.name }} on {{ mealplan.date }}</h2>
    </div>
    {% for recipe in mealplan.recipes.all %}
      <a href="{% url 'recipe_detail' recipe.pk %}"> {{recipe.name}} </a>
    {% endfor %}
{% endblock content %}
